body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(https://assets.bonappetit.com/photos/5c366551f212512d0e6cefd0/16:9/w_2560%2Cc_limit/Basically-Coffee-0219-03.jpg);
}

#strongCoffee {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 9%;

    .imgCont {
        img {
            max-width: 900px;
            min-height: 400px;
            border-radius: 15px;
        }
    }

    .textcont {
        bottom: -14%;
        left: 10%;
        position: absolute;
        width: 600px;
        height: 250px;
        background-color: bisque;
        padding: 10px;
        border-radius: 15px;

        .strongRoots {
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
        }

        .aboutOurCoffee {
            margin-top: 5px;
            font-size: 30px;
            font-weight: lighter;

        }

        .founded {
            margin-bottom: 5px;
            font-size: 14px;
        }

        .weGuarantee {
            font-size: 14px;

        }
    }
}

@media only screen and (max-width: 1000px) {
    #strongCoffee {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .imgCont {
            width: 70%;

            img {

                min-height: 200px;
                border-radius: 15px;
            }
        }

        .textcont {
            position: static;
            width: 80%;
            min-height: 250px;
            background-color: bisque;
            padding: 10px;
            border-radius: 15px;

            .strongRoots {
                font-size: 14px;
                font-weight: bold;
                margin-top: 10px;
            }

            .aboutOurCoffee {
                margin-top: 5px;
                font-size: 30px;
                font-weight: lighter;

            }

            .founded {
                margin-bottom: 5px;
                font-size: 14px;
            }

            .weGuarantee {
                font-size: 14px;

            }
        }
    }
}